body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

img {
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 10px;
}

h1 {  
    border: blue solid 10px;
    width: 30%;
    margin: 10px;
    font-size: 30px;
    padding: 30px;
    background-color: azure;
    text-align: center;
}

h2 {
    margin: 10px;
    background-color: white;
    padding: 20px;
}

p {
    font-size: 15px;
    text-align: justify;
    width: 30%;
    padding: 30px;
    margin: 10px;
    background-color: white;
}

#random-number {
    background-color: white;
    margin: 10px;
    width: 5%;
    padding: 20px;
    font-size: 25px;
    float: right;
}

#win-lose {
    margin: 10px;
    width: 25%;
    background-color: white;
    padding: 30px;
}

.winOrlose {
    text-align: left;
}

#matchThis {
height: 90px;
width: 375px;
background-color: white;
}

#tryMatch {
    float: left;
}

