body {
    background-image: url(../images/background.jpg);
    background-position: right;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

.image {
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 50px;
    width: 50%;
}

h1 {  
    border: blue solid 10px;
    width: 30%;
    margin: 50px;
    font-size: 30px;
    padding: 40px;
    background-color: azure;
    text-align: center;
}

p {
    font-size: medium;
    text-align: justify;
    background-color: white;
    width: 30%;
    padding: 40px;
    margin: 50px;
}

#score {
    background-color: lightcoral;
    color: white;
    width: 30%;
    margin: 50px;
    padding: 40px;
    text-align: left;
}